header {
  display: flex;
  align-items: center;
  justify-content: center;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  width: 100px;
}

figure image {
  width: 100%;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
}

section a {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 42px;
}

a.azul {
  background-color: #1e88e5;
}

a.rojo {
  background-color: #e01424;
}