body {
  margin: 20px 0;
  display: flex;
  gap: 25px;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  height: 100%;
  margin: 40px 0;
}

#marker {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

#marker .item {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 24px;
}

#controls button {
  padding: 10px 15px;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

#controls button#start {
  margin-right: 20px;
  background: rgb(17, 17, 255);
}

#controls button#next {
  background: rgb(255, 238, 0);
  margin-right: 20px;
}
#controls button#good {
  background: rgb(0, 223, 0);
}

#marker .item .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}

#marker .item .circle#time {
  background-color: rgb(0, 110, 255);
}

#marker .item .circle#score {
  background-color: rgb(0, 212, 18);
}
