[data-text] {
  position: relative;
  font-size: 10vw;
  color: #ff60cf;
  -webkit-text-stroke: 0.3vw #fff;
  text-transform: uppercase;
}

[data-text]::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #fff;
  -webkit-text-stroke: 0vw #ff60cf;
  border-right: 2px solid #fff;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%, 10%, 100% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}

